<?php
/** @var \Examples\FirstModule\Block\Adminhtml\Examples\Posts $block */
$posts = $block->getPosts();
?>

<h2>Examples_FirstModule post content template</h2>
<p>Congratulations if you are seeing this you have successfully implemented your page and template.</p>

<br/>
    <style>
        table, th, td {
            border:1px solid black;
            padding: 5px;
            text-align: left
        }
    </style>
    <table style="width:100%;">
        <tr>
            <th>Post Id</th>
            <th>Author</th>
            <th>Email</th>
            <th>Content</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>

        <?php foreach ($posts as $post): ?>
            <tr>
                <td><?= $post->getPostId(); ?></td>
                <td><?= $post->getAuthorName(); ?></td>
                <td><?= $post->getEmail(); ?></td>
                <td><?= $post->getContent(); ?></td>
                <td><?= $post->getCreatedAt(); ?></td>
                <td><?= $post->getUpdatedAt(); ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
